*.o
*.d
*.eep
*.elf
*.hex
*.lss
*.lst
*.map
*.sym
*.bin
*.prg
*.exe
*.stackdump
*.zip
*.d64
progmem
keyman64
keyman64.rom
bootloader/firmware/main.asm
bootloader/updater/updater.asm
bootloader/updater/usbasploader.raw
intelhex/ihex2bin
